<div class="full-height" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="title">Página de configuración de Wumpus</h1>
    <mat-card class="form-container">
        <form [formGroup]="configForm" (ngSubmit)="sendForm()">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <mat-label class="label">Elige el tamaño del tablero</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="boardSize">
                        <mat-option *ngFor="let option of boardSizeOptions"
                          [value]="option">
                          {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <mat-label class="label">Elige el número de pozos</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="numOfWells">
                        <mat-option *ngFor="let well of numOfWells"
                           [value]="well">
                          {{ well }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <mat-label class="label">Elige el número de flechas</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="numOfHarrows">
                        <mat-option *ngFor="let harrow of numOfHarrows"
                          [value]="harrow">
                          {{ harrow }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <button fxFlex mat-raised-button color="primary" type="submit">Enviar</button>
            </div>
        </form>
    </mat-card>
</div>
