table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
}

.image {
    width: 50px;
    height: 50px;
}

.image-container {
    position: relative;
}

.image-hero {
    position: absolute;
    top: 0;
    left: -10px;
}

.image-footprint {
    max-width: 25px;
    max-height: 25px;
}