<div *ngIf="board.length > 0" class="board" fxLayout="row" fxLayoutAlign="center center">
    <table>
        <tr *ngFor="let row of board">
            <td class="image-container" *ngFor="let cell of row">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <img *ngIf="hasMonster(cell)" class="image" src="assets/images/monster.jpg" alt="moster image">
                    <img *ngIf="hasWell(cell)" class="image" src="assets/images/well.jpg" alt="well image">
                    <img *ngIf="hasHero(cell)" class="image image-hero" src="assets/images/archer.svg" alt="hero image">
                    <img *ngIf="hasGold(cell)" class="image" src="assets/images/gold.jpg" alt="gold image">
                    <img *ngIf="hasFootPrint(cell)" class="image image-footprint" src="assets/images/footprint.jpg"
                        alt="footprint image">
                </div>
            </td>
        </tr>
    </table>
</div>