.full-height {
    display: block;
    height: 100vh;
    background-color: #d4e4ed;
}

.title {
    text-align: center;
    margin: 20px;
}

.form-container {
    padding: 20px 20px;
    width: fit-content;
}

.label {
    padding-bottom: 18.81px;
}